*{
	margin:0;
	padding:0;	
}

#main{
	width:775px;
	height:870px;
	background-color:#100c09;
	margin:0 auto;		
}

nav{
	width:775px;
	height:49px;
	background-color:#3c2e29;	
}

nav ul{
	list-style-type:none;
	text-align:
	center;
}

nav ul li{
	display:inline;
	font-family:"Myriad Pro";
	font-size:12px;	
	color:#fff;
	line-height:49px;
	padding-right:52px;
	padding-left:33px;
	text-transform:uppercase;
}